<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="150"
      alt="Bank Logo"
      src="../../assets/logo/logo.svg"
    />
    <span>Bienvenue</span>
      
    <div class="flex items-center gap-8 ml-40">
      <a 
      class="group transition cursor-pointer hover:text-red-800  duration-300 uppercase tracking-wider "
      [class]="routeUrl=='/client'?'text-red-800 ':''"
      (click)=" navigateTo('/client')">
        client
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-red-800"
        [class]="routeUrl=='/client'?'max-w-full ':''"></span>
      </a>
      <a 
      class="group transition cursor-pointer hover:text-red-800  duration-300 uppercase tracking-wider "
      [class]="routeUrl=='/compte'?'text-red-800 ':''"
      (click)=" navigateTo('/compte')">
        compte
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-red-800"
        [class]="routeUrl=='/compte'?'max-w-full ':''"></span>
      </a>
    </div>
  </div>