<div class="w-[80vw] h-[90vh] p-4 mx-auto">
    <div class="flex items-center">
      <h1 class="text-3xl font-medium mb-8 text-gray-600">
        gestion des clients 
      </h1>
    </div>
  
    <div class="flex flex-col space-y-2">
      <!-- bloc gestion des mails -->
      <div
        class="bg-white rounded-md w-full"
        [class]="
          !clientsExpanded
            ? 'h-[5vh] transition duration-500'
            : 'max-h-[80vh] h-auto transition duration-500 overflow-auto'
        "
      >
        <div
          (click)="toggleExpansion('clients')"
          class="flex justify-between items-center p-1 mx-2 cursor-pointer font-semibold text-md text-slate-600 border-b border-gray-300"
        >
          <p>gestion des clients</p>
          <span
            class="fa"
            [class]="!clientsExpanded ? 'fa-caret-down' : 'fa-caret-right'"
          ></span>
        </div>

        <div class="relative flex items-center mt-1 md:mt-0">
            <span class="absolute">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 mx-3 text-gray-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </span>
      
            <input
              [(ngModel)]="search"
              type="text"
              placeholder="recherchez..."
              class="block w-full py-1.5 pr-5 text-gray-800 font-medium border border-gray-700 rounded-lg placeholder-gray-400 pl-11"
            />
          </div>
  
        <div class="flex flex-col" *ngIf="clientsExpanded">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50 sticky top-0">
              <tr>
                <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                cin
              </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  nom
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  prenom
                </th>
         
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <!-- Add a new line input row -->
              <tr class="sticky top-0">
                <td class="px-6 py-3">
                  <input
                    [(ngModel)]="clientObj.cin"
                    placeholder="cin"
                    type="text"
                    class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-300"
                  />
                </td>
                <td class="px-6 py-3">
                  <input
                    [(ngModel)]="clientObj.nom"
                    placeholder="nom"
                    type="text"
                    class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-300"
                  />
                </td>
  
                <td class="px-6 py-3">
                    <input
                      [(ngModel)]="clientObj.prenom"
                      placeholder="prenom"
                      type="text"
                      class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-300"
                    />
                  </td>
                <td class="px-6 py-3">
                  <button
                    *ngIf="!isModifClient"
                    (click)="addClient()"
                    class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none"
                  >
                    Ajouter
                  </button>
                  <div *ngIf="isModifClient" class="flex">
                    <button
                      (click)="updateClient(clientObj['cin'])"
                      class="py-1 px-2 bg-green-500 rounded-l-md text-white hover:bg-green-600 focus:outline-none focus:bg-green-600"
                    >
                      <i class="fas fa-check"></i>
                    </button>
                    <button
                      (click)="init()"
                      class="py-1 px-2 bg-red-500 text-white rounded-r-md hover:bg-red-600 focus:outline-none focus:bg-red-600"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <!-- Table rows -->
              <tr
                *ngFor="let client of listClients | filterPerAnykey : search ; index as i"
                [class]="i % 2 ? 'cursor-pointer bg-blue-50' : 'cursor-pointer'"
                
              >
                <td class="px-6 py-3">
                  {{ client.cin }}
                </td>
                <td class="px-6 py-3">
                  {{ client.nom }}
                </td>
                <td class="px-6 py-3">
                    {{ client.prenom }}
                  </td>
                <td class="px-6 py-3">
                  <span class="flex ml-auto">
                    <i
                      class="fal fa-edit text-blue-500 cursor-pointer mr-4 hover:font-semibold"
                      (click)="clickToUpdateClient(client)"
                    ></i>
                    <i
                      class="fal fa-trash text-red-500 cursor-pointer hover:font-semibold"
                      (click)="deleteClient(client.cin)"
                    ></i>
                  </span>
                </td>
              </tr>
  
              <tr *ngIf="!listClients || listClients.length == 0">
                <td colspan="4" class="w-full text-lg font-semibold text-center">
                  <!-- spinner waiting load of Data -->
                  aucun client disponible...!
                </td>
              </tr>
  
              <!-- Add your dynamic data rows here using ngFor or JavaScript -->
            </tbody>
          </table>
        </div>
      </div>
  

  
      <!-- bloc gestion des alerts -->
      <!-- <div
        class="bg-white rounded-md w-full"
        [class]="
          !alertsExpanded
            ? 'h-[5vh] transition duration-500'
            : 'max-h-[80vh] h-auto transition duration-500 overflow-auto'
        "
      >
        <div
          (click)="toggleExpansion('alerts')"
          class="flex justify-between items-center p-1 mx-2 cursor-pointer font-semibold text-md text-slate-600 border-b border-gray-300"
        >
          <p>gestion des alert</p>
          <span
            class="fa"
            [class]="!alertsExpanded ? 'fa-caret-down' : 'fa-caret-right'"
          ></span>
        </div>
  
        <div class="flex flex-col" *ngIf="alertsExpanded">
          <h3 class="flex justify-center text-xl font-semibold">
            Ce bloc est en cours de développement....
          </h3>
        </div>
      </div> -->
    </div>
  </div>
  
  
  